.header {
    background-color: blue;
    border: 1px solid black;
 }
 .menu {
    background-color: green;
    border: 1px solid black;
 }
 .content {
    background-color: orange;
    border: 1px solid black;
 }
 .footer {
     background-color: red;
     border: 1px solid black;
 }