
#intro button {
  width: 10vw;
  padding: 10px;
  color: gray;
  background: white;
  border: 1px solid gray;
  font-size: 16px;
  border-radius: 10px;
}

/* intro overlay */

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(27, 27, 27);
  overflow-x: hidden;
  transition: 0.5s;
  color: white;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  text-decoration: none;
  color: #818181;
}

/* activities */

.activities {
  padding: 20px;
  display: flex;
  width: 70%;
  margin: auto;
}

.activities h1 {
  text-align: center;
}

.activities-item {
  padding: 30px;
  line-height: 1.5rem;
  text-align: left;
}

.activities-item img {
  width: 5vw;
  background: rgba(255, 255, 255, 0.712);
  border-radius: 50%;
  margin: auto;
  display: block;
}

/* directors */

.directors h1 {
  text-align: center;
}

.director {
  overflow: auto;
  max-width: 50vw;
  display: block;
  margin: auto;
  color: gray;
  background: rgb(255, 255, 255);
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  margin-top: 20px;
  line-height: 1.5rem;
}

.director-img {
  float: right;
  display: flex;
  padding: 20px;
  align-items: center;
}

.director-text {
  overflow: hidden;
}

.director-text b {
  color: rgb(6, 129, 33);
}

.director-content {
  margin-top: 20px;
}

.director-img img {
  width: 7vw;
  margin-right: 10px;
}